*.war
*.ear
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.gz
*.bz2
*.xz
.git/
.idea/
*.iml
.DS_Store
*.log
*.txt
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!/src/main//build/
!/src/test//build/